@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}
a{
    text-decoration: none;
}

.hero{
    width: 100%;
    position: fixed;
    height: 14%;
    /* background-color: url(); */
    background-color: white;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    padding-bottom: 10px;
}

.logo{
    max-height: 60px;

}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color: rgb(229, 92, 92);
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: rgb(229, 92, 92);
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100px;

}

.btn{
    color: antiquewhite;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 300px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background-size:130% 80% ;
    background-color: red;
    border: 2px solid red;
}

.btn:hover{
    background: transparent;
    border-color: red;
    color: red;
}
#home{
    height: 600px;
    width: 100%;
    /* border: 1px solid orange; */
}
.content{
    height: 60%;
    width: 80%;
    /* border: 2px solid green; */
    display: flex;
    margin: auto;
    /* position: absolute; */
    top: 35%;
    left: 8%;

}
.content div:nth-child(1){
    width:87%;
    height: 90%;
    /* border: 1px solid brown; */
}

.content div:nth-child(2){
    width: 35%;
    height: 97%;
    margin-left: -100px;
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    /* border-radius: "50%"; */
    /* border: 1px solid brown; */
}
.content div:nth-child(2) img{
    border-radius: 100%;
}
.content .title{
    color: #1d1d24;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: linear-gradient(120deg,rgb(0, 208, 255),rgb(200, 197, 44) ,rgb(242, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content h1{
    color: #1d1d24;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;

}

.content h1 span{
    color: red;
}
.content p{
    width: 70%;
    color: #1d1d24;
    margin-top: 25px;
    margin-bottom: 30px;

}
#about{
    height: 300px;
    width: 100%;
    /* border: 1px solid brown; */
}
h2{
    text-align: center;
    font-size: 50px;
    
}

#about p{
    width: 80%;
    color: #1d1d24;
    margin-top: 25px;
    margin-bottom: 30px;
    margin: auto;
}

#skills{
    height: 550px;
    width: 80%;
    margin: auto;
    /* border: 1px solid brown; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;

}

#skills h2{
    text-align: center;
    font-size: 50px;
    
}

#skills .skills-card{
    /* border: 1px solid orange; */
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#skills .skills-card img{
    width: 50%;
    margin-top: 50px;
    text-align: center;
}
#skills .skills-card p{
    margin-top: 20px;
    font-size: 20px;
}



















#skills2{
    height: 250px;
    width: 80%;
    margin: auto;
    /* border: 1px solid brown; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;

}

#skills22 h2{
    text-align: center;
    font-size: 50px;
    
}

#skills2 .skills-card{
    /* border: 1px solid orange; */
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#skills2 .skills-card img{
    width: 50%;
    margin-top: 50px;
    text-align: center;
}
#skills2 .skills-card p{
    margin-top: 20px;
    font-size: 20px;
}













